/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");
/* secondory */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
/*
=============== 
Variables
===============
*/
:root {
  /* primary colors*/
  /* websites colors */
  --clr-orange: rgb(255, 150, 0);
  --clr-orange-dark: #4d2d00bd;
  --clr-blue: #14b9f1;
  --clr-blue-dark: #084a60;
  --clr-green: rgb(11, 49, 61);
  /* end websites colors */

  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  --clr-primary-5: hsl(185, 62%, 45%);
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* grey colors */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  /* other colors */
  --clr-black: #222;
  --clr-white: #fff;
  --clr-red-light: #f8d7da;
  --clr-red-dark: #842029;
  --clr-green-light: #d1e7dd;
  --clr-green-dark: #0f5132;
  /* fonts */
  --ff-body: "IBM Plex Sans";
  --ff-second: "Permanent Marker", cursive;
  /* others */
  --background-color: var(--clr-white);
  --text-color: var(--clr-black);
  --transition: all 0.3s linear;
  --transition-quick: all 0.1 linear;
  --spacing: 0rem;
  --radius: 0.25rem;
  --max-width: 1440px;
  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
/*
=============== 
Global Styles
===============
*/
html {
  font-size: 100%;
  /* 16px */
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

body {
  background: var(--background-color);
  font-family: var(--ff-body);
  font-weight: 400;
  line-height: 1.75;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 1rem;
  font-family: var(--ff-body);
  font-weight: 700;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}
h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.35rem;
}

h5 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--clr-grey-2);
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.125rem;
  }
}
.text-small {
  font-size: 0.875rem;
}

/*  global classes */

.btn {
  text-transform: capitalize;
  background: var(--clr-orange);
  color: var(--clr-white);
  padding: 0.5rem 2.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 1.25rem;
  border: 2px solid transparent;
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-blue);
}
/* section */
.section {
  padding: 4rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* more global */
.underline {
  width: 5rem;
  height: 0.25rem;
  width: 10rem;
  height: 0.2rem;
  margin-bottom: 1.25rem;
  background: var(--clr-orange);
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  margin-bottom: 2.5rem;
  text-align: left;
}
.section-title h3 {
  font-family: var(--ff-second);
  font-family: "Amatic SC", cursive;
}
.section-title .underline {
  margin-top: 1.5rem;
  margin-left: 0;
}
.banner-buttons-container {
  display: none;
}

/* 
===========
Nav
===========
*/
nav {
  /* sonradan height ekle logo fazladan yer kaplıyor */
  /* height: 12rem; */
  display: grid;
  align-items: center;
  background: var(--clr-green);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}
/* logo gelicek */
.nav-header h1 {
  color: var(--clr-white);
  margin-bottom: 0;
}
.nav-toggle {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--clr-white);
  transition: var(--transition);
}
.nav-toggle:hover {
  transform: rotate(180deg);
  transform: scale(1.5);
}
.nav-call-btn {
  text-align: center;
  font-size: 1rem;
  color: var(--clr-white);
  width: 100%;
  margin-bottom: 1.5rem;
}
.nav-call-btn i {
  margin-right: 0.5rem;
  font-size: 1.55rem;
}
/* ********************************* */
/* 1100 a kadar düzelt */
/* ********************************* */
@media screen and (max-width: 1100px) {
  /* hide nav-links */
  .nav-links {
    /* ********************GİZLENDİ ****************** */
    z-index: 1000;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: var(--clr-orange);
    transition: var(--transition);
  }
  /* show nav-links */
  .nav-links.active {
    height: 25rem;
  }
  .nav-links a {
    display: block;
    padding: 0.75rem 2rem;
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
    border-bottom: 0.01rem solid var(--clr-grey-8);
    transition: var(--transition);
  }
  .nav-links a:hover {
    background-color: var(--clr-green);
  }
}
@media screen and (min-width: 768px) {
  .nav-header {
    margin-bottom: 0;
  }
  .nav {
    position: relative;
  }
  .nav-links {
    top: 5.25rem;
  }
  .nav-call-btn {
    padding: 0.8rem 1rem;
    position: absolute;
    width: auto;
    top: 50%;
    right: 6.5rem;
    transform: translateY(-50%);
  }
}
/* değişebilir */
@media screen and (min-width: 1101px) {
  .nav-toggle {
    display: none;
  }
  .nav {
    height: 7.5rem;
    display: grid;
    align-items: center;
    /* nav positon absolute aldı header relative header nav'ın önüne geçti o yüzden z'index verdim */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
  }
  .nav-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  .nav-links {
    display: flex;
    column-gap: 2.2rem;
  }
  .nav-links a {
    display: block;
    color: white;
    text-transform: capitalize;
    font-size: 1.15rem;
    font-weight: 700;
    transition: var(--transition);
  }
  .nav-links a:hover {
    color: var(--clr-orange);
  }
  .nav-call-btn {
    position: static;
    top: none;
    transform: none;
    margin-bottom: 0;
    /* width: auto; */
    justify-self: end;
    font-size: 0.85rem;
    padding: 0.8rem 1rem;
  }
}

/* 
===========
Banner
===========
*/
.banner {
  position: relative;
  height: 100vh;
  /* height: calc(100vh - 12rem); */
  background: linear-gradient(
    -45deg,
    var(--clr-green),
    var(--clr-orange-dark),
    var(--clr-blue-dark)
  );
  background-size: 400%;
  animation: backani 10s infinite;
  display: grid;
  place-items: center;
}
@keyframes backani {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* shape */
.custom-shape-divider-bottom-1652190241 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1652190241 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 82px;
}

.custom-shape-divider-bottom-1652190241 .shape-fill {
  fill: var(--clr-orange);
}
.banner-inner {
  text-align: center;
}
.banner-animation {
  animation: banani 1.5s;
}
@keyframes banani {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.banner-inner .underline {
  background-color: var(--clr-orange);
  width: 10rem;
  height: 0.2rem;
}

.banner-inner h1 {
  color: var(--clr-white);
}
.banner-inner h1 {
  font-size: 3rem;
  animation: type 2s steps(9);
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  overflow: hidden;
  white-space: nowrap;
  width: 0ch;
  margin-left: auto;
  margin-right: auto;
}
@keyframes type {
  0% {
    border-right: 2px solid var(--clr-orange);
    width: 0ch;
  }

  100% {
    width: 9ch;
    border-right: 2px solid transparent;
  }
}

.banner-inner p {
  font-size: 1.125rem;
  color: var(--clr-grey-8);
  letter-spacing: 0.5px;
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
}

.animation-container {
  position: relative;
  width: 2.8rem;
  height: 5rem;
  border: 0.2rem solid var(--clr-white);
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  margin: 0 auto;
}
.animation-value {
  height: 2rem;
  width: 2.5rem;
  border-radius: 50%;
  background: var(--clr-orange);
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: move 4s infinite;
}

@keyframes move {
  50% {
    top: 102%;
    transform: translate(-50%, -100%);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -100%);
  }
}
@media screen and (min-width: 768px) {
  .banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.825)),
      url("../pexels-pixabay-416405\ \(1\).jpg") center/cover no-repeat fixed;
    animation: none;
  }
  .banner-inner h1 {
    font-size: 6rem;
  }
  .banner-inner p {
    font-size: 1.15rem;
    color: var(--clr-grey-10);
    margin-bottom: 1.75rem;
  }
  .animation-container {
    display: none;
  }
  .banner-buttons-container {
    display: grid;
    width: 25rem;
    margin: 0 auto;
    justify-items: center;
    grid-template-columns: auto auto;
  }
  .banner-btn-two {
    background-color: var(--clr-white);
    color: var(--clr-black);
  }
  .banner-btn-two:hover {
    background-color: var(--clr-orange);
  }
}
/* 
===========
About
===========
*/
.about-infos {
  margin-bottom: 2.5rem;
}
.about-infos-text {
  max-width: 40rem;
}
.about-info {
  margin: 1.5rem 0.5rem;
}
.about-info-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1rem;
}
.about-info-grid span {
  display: grid;
  place-items: center;
  background-color: var(--clr-grey-10);
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  font-size: 1.15rem;
}
.about-img-cont {
  /* max-width: 30rem; */
  margin: 0 auto;
}
.about-img {
  height: 27.5em;
  object-fit: cover;
}
.about-info-grid p {
  margin-bottom: 0;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) {
  .about-infos {
    margin-bottom: 0;
  }
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }
  .about-img-cont {
    position: relative;
    align-self: center;
    max-width: 30rem;
  }
  .about-img {
    position: relative;
    height: 40rem;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    z-index: 100000;
  }
  .about-img-cont::after {
    position: absolute;
    box-sizing: border-box;
    content: "";
    width: 100%;
    height: 100%;
    border: 0.2rem solid var(--clr-orange);
    top: 1rem;
    left: 1rem;
    border-radius: 1rem;
    /* color: var(--clr-orange); */
    /* background-color: var(--clr-orange); */
  }
}
@media screen and (min-width: 1000px) {
  .about-info-grid p {
    font-size: 1rem;
  }
}
/* 
==========
Countings
==========
*/
.counting {
  text-align: center;
  background-color: var(--clr-green-light);
  padding: 2rem 1rem;
  border-radius: 1rem;
  max-width: 20rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.counting h2 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}
.counting p {
  font-size: 1.15rem;
  text-transform: capitalize;
  margin-bottom: 0;
}
@media screen and (min-width: 540px) {
  .counting {
    max-width: none;
    margin-right: 0;
    margin-left: 0;
  }
  .countings-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .countings-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.5rem;
  }
  .counting {
    margin-bottom: 0;
  }
}
/* 
==========
Services
==========
*/
.services {
  background: var(--clr-grey-10);
}
.services .section-title {
  text-align: center;
}
.services .underline {
  margin-left: auto;
  margin-right: auto;
}
.service {
  text-align: center;
  margin-bottom: 1.5rem;
}
/* .service:nth-child(2) span {

} */
.service span {
  background-color: var(--clr-green-light);
  color: var(--clr-green);
  display: block;
  margin: 0 auto;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  transition: var(--transition-quick);
}
.service:hover .service-icon {
  color: var(--clr-white);
  background-color: var(--clr-green);
}
.service h2 {
  font-size: 1.75rem;
}
.service p {
  max-width: 25rem;
  margin: 0 auto;
}
@media screen and (min-width: 540px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1.5rem;
  }
}
/* 
=========
Products
=========
*/
.products {
  background-color: var(--clr-green);
}
.products-section-title h3 {
  color: var(--clr-orange);
}
.products-section-title h2 {
  color: var(--clr-white);
  /* max-width: 20rem; */
  /* max-width: 20rem; */
}
.products-section-title .underline {
  background-color: var(--clr-white);
}
.products-section-title-text {
  color: var(--clr-white);
  max-width: 45rem;
}
@media screen and (min-width: 768px) {
  .products-section-title h2 {
    max-width: 25rem;
  }
  .products .section-title {
    display: grid;
    align-items: center;
    grid-template-columns: calc(35% - 1rem) calc(75% - 1rem);
    grid-template-columns: 25rem 1fr;
    column-gap: 2rem;
  }
}
.product {
  text-align: center;
  border-radius: 1.5rem;
  background-color: rgb(15, 65, 82);
  max-width: 25rem;
  margin: 0 auto;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  margin-bottom: 2rem;
}
.product:hover {
  box-shadow: var(--shadow-4);
  transform: scale(1.025);
}
.product-img-cont {
  position: relative;
}
.product-img-cont img {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  height: 22.5rem;
}
.product-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  color: var(--clr-green);
  width: 4.5rem;
  height: 4.5rem;
  background-color: rgb(15, 65, 82);
  background-color: var(--clr-white);
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 0.5rem solid rgb(15, 65, 82);
  font-size: 1.5rem;
}
.product-info {
  padding: 2rem 0;
}

.product h3 {
  color: var(--clr-white);
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}
.product p {
  font-size: 1rem;
  color: var(--clr-grey-8);
  margin-bottom: 0;
}
.products-btn {
  display: block;
  text-align: center;
  /* width: 100%; */
}
@media screen and (min-width: 768px) {
  .product {
    max-width: none;
    max-width: 27.5rem;
  }
  .products-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .product {
    max-width: none;
    max-width: 25rem;
  }
  .products-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* 
=========
Blog
=========
*/
.blogs {
  background-color: var(--clr-grey-10);
}
.blogs .section-title h2 {
  text-align: center;
}
.blogs .section-title .underline {
  margin-left: auto;
}
.blog {
  background-color: var(--clr-white);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  transition: var(--transition);
}
.blog:hover {
  transform: scale(1.02);
}
.blog-img-cont img {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.blog-info {
  padding: 2rem 1.75rem;
}
.blog-info h3 {
  font-size: 1.75rem;
  color: black;
}
.blog-info p {
  font-size: 1rem;
}
.blog:nth-child(2) {
  color: red;
  background-color: blue;
}
@media screen and (min-width: 768px) {
  .blog {
    max-width: none;
  }
  .blog-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .blog {
    max-width: none;
    margin-bottom: 0;
  }
  .blog-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.5rem;
  }
}
